.page {
    margin: 0 auto;
    padding: 0 48px;
    max-width: 1184px;
    background-color: #2A2C2F;
    font-family: Inter, Arial, Helvetica, sans-serif;
    color: #FFFFFF;
}

@media screen and (max-width: 780px) {
    .page {
        padding: 0 24px;
    }
}

@media screen and (max-width: 350px) {
    .page {
        padding: 0 16px;
    }
}