.place {  
    padding-bottom: 80px;
    width: 100%;
    display: grid;
    gap: 48px 40px;
    grid-template-columns: 460px 1fr;
    grid-template-rows: min-content min-content;
    grid-template-areas:
    "title website"
    "image paragraph";
}

.place:last-of-type {
    padding-bottom: 0px;
}

@media screen and (max-width: 1080px) {
    .place {
        gap: 48px 32px;
        grid-template-columns: 440px 1fr;
    }
}

@media screen and (max-width: 900px) {
    .place {
        padding-bottom: 73px;
        gap: 48px 28px;
        grid-template-columns: 340px 1fr;
    }
}

@media screen and (max-width: 760px) {
    .place {
        grid-template-columns: 320px 1fr;
    }
}

@media screen and (max-width: 640px) {
    .place {
        padding-bottom: 50px;
        gap: 32px;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "title"
        "website"
        "image" 
        "paragraph";
    }
}